body { background: #f8ef68; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 55px; display: flex; }
.block-token-0 { color: #9acf19; font-size: 20px; margin-bottom: 5px; }
.block-helper-1 { color: #5f5ba4; font-size: 20px; margin-bottom: 5px; }
.block-cart-2 { color: #f99827; font-size: 19px; margin-bottom: 5px; }
.block-cache-3 { color: #f5ef6; font-size: 17px; margin-bottom: 5px; }
.block-uploader-4 { color: #c4e3b2; font-size: 21px; margin-bottom: 5px; }
.block-user-5 { color: #5c30e0; font-size: 20px; margin-bottom: 5px; }